In [58]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
# load csv's into dataframes
job_patterns_df = pd.read_csv('CountByStateAndGeneralIndustry(State-NAC2).csv')

In [60]:
# renaming columns for clearer labels
job_patterns_df = job_patterns_df.rename(columns={'nac2Label': 'Industry', 'year': 'Year'})
job_patterns_df = job_patterns_df.dropna(how='any',axis=0) 

job_patterns_df.head()

,State,Industry,NAC2,Year,totBus/StInd,totExec/StInd,totProf/StInd,totTech/StInd,totSales/StInd,totAdmin/StInd,...,biracialFemaleProfessional,biracialFemaleTechnician,biracialFemaleSalesWorker,biracialFemaleAdminSupport,biracialFemaleCraftWorkers,biracialFemaleOperative,biracialFemaleLaborer,biracialFemaleServiceWorker,biracialFemaleEmployed,biracialFemaleMidOfficer
0,Alabama,Accommodation and Food Services,72,2011,336,282,203,40,158,512,...,2,0,0,4,0,1,5,169,189,7
1,Alabama,Administrative and Support and Waste Managemen...,56,2011,191,350,1065,573,698,4168,...,7,5,3,45,0,19,8,34,126,4
2,Alabama,"Agriculture, Forestry, Fishing and Hunting",11,2011,25,74,248,185,119,338,...,0,0,0,0,0,1,6,0,7,0
3,Alabama,"Arts, Entertainment, and Recreation",71,2011,27,74,425,40,244,151,...,2,0,1,0,0,0,0,6,10,1
4,Alabama,Construction,23,2011,123,435,1505,647,224,1212,...,1,0,1,4,0,1,0,0,7,0

In [61]:
# drop any null values in dataframe
job_patterns_df = job_patterns_df.dropna(how='any',axis=0) 
job_patterns_df.shape

(5152, 269)

In [88]:
# dataframe organized by state 
state_df = job_patterns_df.groupby(['State']).sum()
state_df.head()

,NAC2,Year,totBus/StInd,totExec/StInd,totProf/StInd,totTech/StInd,totSales/StInd,totAdmin/StInd,totCraft/StInd,totOp/StInd,...,biracialFemaleProfessional,biracialFemaleTechnician,biracialFemaleSalesWorker,biracialFemaleAdminSupport,biracialFemaleCraftWorkers,biracialFemaleOperative,biracialFemaleLaborer,biracialFemaleServiceWorker,biracialFemaleEmployed,biracialFemaleMidOfficer
State,,,,,,,,,,,,,,,,,,,,,
Alabama,4872,199296,17416,102232,778255,237425,382104,433475,315422,577931,...,1905,723,2227,2609,83,566,534,1957,11025,389
Alaska,3919,167044,2493,6420,65039,26827,40603,45786,45795,43051,...,678,235,1374,1033,56,151,426,1354,5571,220
Arizona,5625,227534,31421,76172,1226521,553317,814237,981469,529615,611929,...,12500,3619,10831,22632,363,1282,2090,19179,76129,3327
Arkansas,4169,177133,9076,24985,310524,98619,114097,187568,130731,305590,...,1780,795,777,1827,66,409,460,1598,8052,335
California,7448,306195,200702,698250,8591810,3160957,4547143,4608290,3034977,3712675,...,103280,23758,81002,106527,3890,11637,25420,121117,514741,33861

In [84]:
# dataframe organized by industry
industry_df = job_patterns_df.groupby(['Industry']).sum()
industry_df.head()

,NAC2,Year,totBus/StInd,totExec/StInd,totProf/StInd,totTech/StInd,totSales/StInd,totAdmin/StInd,totCraft/StInd,totOp/StInd,...,biracialFemaleProfessional,biracialFemaleTechnician,biracialFemaleSalesWorker,biracialFemaleAdminSupport,biracialFemaleCraftWorkers,biracialFemaleOperative,biracialFemaleLaborer,biracialFemaleServiceWorker,biracialFemaleEmployed,biracialFemaleMidOfficer
Industry,,,,,,,,,,,,,,,,,,,,,
Accommodation and Food Services,14328,545690,174139,170393,298028,204034,431006,651524,350113,348387,...,2893,402,8047,16936,1338,3296,6712,231646,285385,13112
Administrative and Support and Waste Management and Remediation Services,10920,537624,87072,258944,2044876,620666,699406,2262617,678940,1089026,...,48181,3851,9885,68255,1103,5865,24801,62539,233907,8343
"Agriculture, Forestry, Fishing and Hunting",1287,348183,6105,20640,61444,26298,33911,55026,54862,159080,...,202,73,177,399,8,322,2588,118,4095,161
"Arts, Entertainment, and Recreation",10011,430726,18996,68691,502050,150260,258920,347239,237150,219680,...,5593,630,4570,6478,1621,1186,2127,35555,60950,2858
Construction,3726,475098,47898,177804,640266,239490,167524,420071,2274728,588720,...,2365,332,1113,5849,1485,355,1418,272,14610,1242

In [87]:
# dataframe organized by industry within state 
industry_in_df = job_patterns_df.groupby(['State', 'NAC2']).sum()
industry_in_df

              Year  totBus/StInd  totExec/StInd  totProf/StInd  totTech/StInd  \
State   NAC2
Alabama 11    8050            93            273           1101            780
        21    8050            90            458           2001            345
        22    8050           213            669           9961           2499
        23    8050           470           1813           5887           2416
        31    8050          1567           4289          32667          15904
...            ...           ...            ...            ...            ...
Wyoming 55    4027             9             13            217             82
        56    4027            16             17             58             28
        62    4027            98            223           5128           2104
        71    4027             6             45            176             29
        72    4027            96             78             74             43

              totSales/StInd  totAdmin/StInd  totCraft/StInd  totOp/StInd  \
State   NAC2
Alabama 11               349            1218            1605         4432
        21                46            1470            5538         7553
        22               187            6545           10695         4443
        23               760            4495           32889         7837
        31              8184           19173           59031       162444
...                      ...             ...             ...          ...
Wyoming 55                 0              53             338          283
        56                11              83             257           43
        62                13            1904             144           87
        71               210              91              90           83
        72               406             557             269          162

              totLabor/StInd  ...  biracialFemaleProfessional  \
State   NAC2                  ...
Alabama 11             19675  ...                           0
        21              1593  ...                           1
        22               964  ...                           5
        23             14386  ...                           7
        31             74622  ...                          44
...                      ...  ...                         ...
Wyoming 55                38  ...                           0
        56                47  ...                           0
        62               490  ...                          22
        71               126  ...                           3
        72               268  ...                           0

              biracialFemaleTechnician  biracialFemaleSalesWorker  \
State   NAC2
Alabama 11                           2                          3
        21                           0                          0
        22                           0                          0
        23                           0                          1
        31                          21                          3
...                                ...                        ...
Wyoming 55                           0                          0
        56                           0                          0
        62                          20                          0
        71                           0                          0
        72                           0                          3

              biracialFemaleAdminSupport  biracialFemaleCraftWorkers  \
State   NAC2
Alabama 11                             5                           0
        21                             2                           0
        22                            24                           0
        23                            12                           1
        31                            34                          18
...                                  ...                         ...
Wyoming 55                             0                           0
        56                             2                           1
        62                            15                           0
        71                             1                           0
        72                             4                           1

              biracialFemaleOperative  biracialFemaleLaborer  \
State   NAC2
Alabama 11                          8                     20
        21                          0                      0
        22                          0                      0
        23                          1                     57
        31                         84                     41
...                               ...                    ...
Wyoming 55                          0                      0
        56                          0                      0
        62                          5                      0
        71                          0                      0
        72                          0                      1

              biracialFemaleServiceWorker  biracialFemaleEmployed  \
State   NAC2
Alabama 11                              0                      38
        21                              0                       3
        22                              1                      31
        23                              0                      80
        31                              0                     247
...                                   ...                     ...
Wyoming 55                              4                       4
        56                              2                       5
        62                             66                     131
        71                              4                       9
        72                            117                     148

              biracialFemaleMidOfficer
State   NAC2
Alabama 11                           0
        21                           0
        22                           1
        23                           1
        31                           2
...                                ...
Wyoming 55                           0
        56                           0
        62                           1
        71                           1
        72                          21

[1210 rows x 266 columns]